<div class="row card bg-light m-3 p-3">
    <div class="m-1">
        <h3>{{name}} </br> ${{price}}</h3>
        <img width="100" src="{{image}}">
        <div class="addFurnitureToRoomBtn">
            <button type="button" data-index-number="{{id}}" class="add-btn btn btn-success" id="plusBtnFurniture">&#10133;</button>
            <p>Success!</p>
        </div>
    </div>
</div>