<div class="bg-light m-2 p-3 border border-secondary">
    <div class="m-1">
        <h3>{{name}} ${{price}}</h3>
        <img width="100" src="{{image}}">
        <div class="addFurnitureToRoomBtn">
            <button type="button" data-index-number="{{id}}" class="add-btn btn btn-success" id="plusBtnFurniture">&#10133;</button>
            <p>Success!</p>
        </div>
    </div>
</div>