<div class="card bg-light m-3 p-3">
    <div class="m-1">
        <a class="text-dark" href="/api/rooms/{{id}}">
            <h3 class="col card-header">{{name}}</h3>
        </a>
    </div>
    <div class="row m-1">
        <button type="button" class="renameRoomBtn btn btn-outline-dark mb-2">Rename Room &#9998;</button>
        <form class="input-group" id="renameRoomForm">
            <input type="text" class="user-input form-control" id="roomRenameInput" placeholder="Rename Room">
            <button class="rename-btn btn btn-outline-dark" data-index-number="{{id}}" type="submit"
                id="submitRename">Rename</button>
        </form>
        <ul>
            {{#each furniture as |furniture|}}
            {{>homepage-room-furniture}}
            {{/each}}
        </ul>
        <button type="button" data-index-number="{{id}}" class="delete-btn btn btn-outline-danger">Delete Room &#128465;</button>
    </div>
</div>