<div class="card bg-light m-3 p-3">
  <h3>{{name}}</h3> 
    <div class="row">
        <div class="col-6">
            <div class="row d-flex justify-content-start m-1">
                <button class="renameRoomBtn col-6 btn btn-outline-info">Rename Room</button>
                <form class="input-group" id="renameRoomForm">
                    <input type="text" class="user-input form-control" id="roomRenameInput" placeholder="Rename Room">
                    <button class="search-btn btn btn-outline-info" data-index-number="{{id}}" type="submit" id="submitRename">Rename</button>
                </form>
            </div>
            <ul>
                <li>Chair</li>
            </ul>
        </div>
        <div class="col-6">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search to add Furniture"
                    aria-label="Search">
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>