  <div class="border border-secondary p-1">
    <div class="d-flex align-items-center">
      <p data-index-id="{{id}}">{{name}}</p> 
      <button class="m-3 btn btn-outline-danger delete-furniture">Delete &#128465;</button>
    </div>
    <img width="100" src="{{image}}" />
  </div>
