<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <title>Sofa King Cool</title>
</head>

<body>
  <header>
    <h1 class="text-center mt-1">SOFA-KING COOL</h1>
  </header>
  <header> 
    <nav id="homeNavBar">
      <a href="/" class="btn">&#183; Home &#183;</a>
      {{#if loggedIn}}
      <a href="/post-furniture" class="btn">&#183; Add Custom Furniture &#183;</a>
      <a id="logout" class="btn">&#183; Logout &#183;</a>
      {{else}}
      <a href="/login" class="btn">&#183; Login &#183;</a>
      {{/if}}
    </nav>
  </header>

  <main>
    {{{body}}}
  </main>


  <footer class="sticky-bottom text-center">
    <h4>Made With &#9829; by Group 4</h4>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src="/js/logout.js"></script>
</body>

</html>