{{#if loggedIn}}
<h2 class="p-3 text-center">Home</h2>

<div class="row justify-space-between m-3" id="furnitureResultsPage">
    <div class="col">
        <h4> Select Type of Furniture To Search:</h4>
        <select class="form-select" size="3" aria-label="size 3 select example">
            <option value="tables">Tables</option>
            <option value="seating">Seating</option>
            <option value="sleeping">Sleeping</option>
            <option value="storage">Storage</option>
            <option value="rugs">Rugs</option>
            <option value="desks">Desks</option>
        </select>
        <button class="search-btn btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
    </div>

    <div class="col d-flex justify-content-end m-3">
        <button id="addRoomBtn" class="btn btn-outline-dark">Add a Room</button>
        <form class="input-group" id="addRoomForm">
            <input type="text" class="col-6 user-input form-control" id="roomNameInput" placeholder="Name Your Room">
            <button class="search-btn btn btn-outline-dark" type="submit" id="submitRoom">Add</button>
        </form>
    </div>

</div>
<div class="container" id="room-container">
    {{#each rooms as |room|}}
    {{>room-details}}
    {{/each}}
</div>

{{else}}
<img class="house" src="/images/paul-weaver-nWidMEQsnAQ-unsplash.jpg" alt="A simple room" />

<div class="container" id="gettingStartedContainer">
    <h3 class="text-center p-3">How To Get Started</h3>
    <div class="row d-flex justify-content-center">
        <div class="col text-center">
            <h4>1. Create an Account</h4>
            <p><a href="/login">Login</a> or <a href="/signup">Sign Up</a> to get started on your dashboard
            </p>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col text-center">
            <h4>2. Create a Room</h4>
            <p>Once in your dashboard, you can add as many rooms as you'd like
            </p>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col text-center">
            <h4>3. Add Furniture</h4>
            <p>Search for a piece of furniture then select the room you want to add it to.
            </p>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-9 text-center">
            <a href="/signup" class="btn btn-outline-dark m-2 p-2" id="getStartedBtn">Get Started</a>
        </div>
    </div>
</div>
{{/if}}

<script src="/js/room.js"></script>