<h1>Homepage</h1>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-6 text-center">How to sign up</div>
        <div class="col-6 text-center">gif</div>
        
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-6 text-center">How to create a room</div>
        <div class="col-6 text-center">hello</div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-6 text-center">How to add furnitures</div>
        <div class="col-6 text-center">hello</div>
    </div>
    <div class="row d-flex justify-content-center">
        <button class="col-6">Get Started</button>

    </div>
</div>

<h2>Dashboard</h2>
<div class="d-flex justify-content-end p-3">
    <button>Add a Room</button>
</div>
<div class="container" id="room-container">
    <div class="row">
        <div class="col-6">furnitures
            <ul>
                <li>Chair</li>
            </ul>

        </div>
        <div class="col-6">
            <nav class="navbar navbar-light bg-light">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </nav>
        </div>
    </div>

</div>