

{{#if loggedIn}}
<h2 class="p-3 text-center">Dashboard</h2>
<div class="p-3 row justify-content-between">
    <div class="col-7">
        <select class="form-select" size="3" aria-label="size 3 select example">
            <option value="tables">Tables</option>
            <option value="seating">Seating</option>
            <option value="sleeping">Sleeping</option>
            <option value="storage">Storage</option>
            <option value="rugs">Rugs</option>
            <option value="desks">Desks</option>
        </select>
        <button class="search-btn btn btn-outline-info my-2 my-sm-0"
            type="submit">Search</button>
    </div>
    <div class="col-3 d-flex justify-content-end m-3">
        <button id="addRoomBtn" class="btn btn-outline-info">Add a Room</button>
        <form class="input-group" id="addRoomForm">
            <input type="text" class="col-6 user-input form-control" id="roomNameInput" placeholder="Name Your Room">
            <button class="search-btn btn btn-outline-info" type="submit" id="submitRoom">Add</button>
        </form>
    </div>
</div>
<div class="container" id="furniture-container">
    {{#each furnitures as |furniture|}}
    {{>furniture-details}}
    {{/each}}
</div>
<div class="container" id="room-container">
    {{#each rooms as |room|}}
    {{>room-details}}
    {{/each}}
</div>
{{else}}
<h1 class="text-center p-3">How To Get Started</h1>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-6 text-center">How to sign up</div>
        <div class="col-6 text-center">gif</div>

    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-6 text-center">How to create a room</div>
        <div class="col-6 text-center">hello</div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-6 text-center">How to add furnitures</div>
        <div class="col-6 text-center">hello</div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-6 text-center">
            <a href="/signup" class="btn btn-outline-info m-2 p-2">Get Started</a>
        </div>
    </div>
</div>
{{/if}}

