<div class="card m-2 p-2">
  <div class="card-header">
    <h2>Login</h2>
  </div>
  <form id="login-form" class="card-body">
    <div class="m-2 p-2">
      <label for="username-input-login">Username</label>
      <input type="text" id="username-input-login" />
    </div>
    <div class="m-2 p-2">
      <label for="password-input-login" class="form-label">Password</label>
      <input type="password" id="password-input-login" />
    </div>
    <button type="submit" id="login-btn" class="btn btn-outline-info m-2 p-2">Login!</button>
    <a href="/signup">  
       <button type="button" class="btn btn-outline-info m-2 p-2">Sign Up Instead</button>  
     </a>
  </form>
</div>

<script src="/js/login.js"></script>
