{{>modal}}
<div class="align-items-end">
<form class="postFurnitureForm">
  <fieldset class="m-3">
    {{!-- name --}}
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Furniture Name</label>
      <input type="email" class="form-control" id="name" placeholder="Vintage Coffee Table">
    </div>
    {{!-- type - dropdown --}}
    <div class="mb-3">
      <label for="disabledSelect" class="form-label">Type of Furniture</label>
      <select id="type" class="form-select">
        <option>Tables</option>
        <option>Seating</option>
        <option>Sleeping</option>
        <option>Storage</option>
        <option>Rugs</option>
        <option>Desks</option>
      </select>
    </div>
    {{!-- price --}}
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Price</label>
      <input type="email" class="form-control" id="price" placeholder="15.99">
    </div>
    {{!-- notes --}}
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Description</label>
      <textarea class="form-control" id="notes" rows="3" placeholder="Add any notes inlcuding links to future furniture purchase"></textarea>
    </div>
    {{!-- submit button --}}
    <button type="submit" class="btn btn-dark" id="submit">Submit</button>
  </fieldset>
</form>
</div>

<script src="/js/post-furniture.js"></script>

