{{>modal}}
<div class="postImageForm">
  <h3>Your piece has been added!</h3>
  <p>You may optionally add an image below or proceed to the <a href="/">homepage</a></p>
  <section class="row justify-content-center">
    <div class="col-sm-12 col-md-9 col-lg-6">
      <div class="form-group">
        <input class="form-control" type="file" data-id="{{id}}" data-type="{{type}}" id="image" accept="image/*"
          name="image" />
      </div>
    </div>
  </section>
</div>

<script src="/js/post-image.js"></script>