<h3>Your piece has been added!</h3>
<p>You may optionally add an image below or proceed the <a href="/">homepage</a></p>
<section class="row">
  <div class="col-12">
    <div class="form-group">
      <input class="form-control" type="file" data-id="{{id}}" data-type="{{type}}" id="image" accept="image/*" name="image" />
    </div>
  </div>
</section>

<script src="/js/post-image.js"></script>