<h3>Your piece has been added!</h3>
<p>You may optionally add an image below or proceed the <a href="/">homepage</a></p>
<form>
  <fieldset>
    {{!-- File --}}
    <div class="mb-3">
      <label for="formFile" class="form-label">Choose an image</label>
      <input class="form-control" type="file" id="image" accept="image/*" name="image">
    </div>
    <button type="submit" class="btn btn-primary" id="submit">Submit</button>
  </fieldset>
</form>