<div class="room-card card bg-light m-3 p-3">
    <div class="row m-1">
        <h3 class="col-10">{{room.name}}</h3>
        <button type="button" data-index-number="{{room.id}}" class="delete-btn col-2 btn btn-danger">&#128465</button>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="row d-flex justify-content-start m-1">
                <button class="renameRoomBtn col-6 btn btn-outline-info">Rename Room</button>
                <form class="input-group" id="renameRoomForm">
                    <input type="text" class="user-input form-control" id="roomRenameInput" placeholder="Rename Room">
                    <button class="rename-btn btn btn-outline-info" data-index-number="{{room.id}}" type="submit"
                        id="submitRename">Rename</button>
                </form>
            </div>
            <ul>
                <li>Chair</li>
            </ul>

        </div>
        <div class="col-6">
            <form class="form-inline">
                {{!-- <input class="search-input form-control mr-sm-2" type="text" placeholder="Search to add Furniture"
                    aria-label="Search"> --}}
                    
            </form>
        </div>
    </div>
</div>
{{results}}

<script src="/js/room-details.js"></script>

