<div class="room-card card m-5 p-3">
    <div class="row m-1 p-3">
        <h2 class="card-header my-2">{{rooms.name}}</h2>
        <button class="renameRoomBtn btn btn-outline-dark">Rename Room &#9998;</button>
        <form class="input-group" id="renameRoomForm">
            <input type="text" class="user-input form-control" id="roomRenameInput" placeholder="Rename Room">
            <button class="rename-btn btn btn-outline-dark" data-index-number="{{rooms.id}}" type="submit"
                id="submitRename">Rename</button>
        </form>
    </div>
    <div>
        <div>
            <h4 class="text-center"> In Your Room: </h4>
            <ul class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
                {{#each rooms.furniture as |furniture|}}
                {{>room-furniture-details}}
                {{/each}}
            </ul>
        </div>
        <button type="button" data-index-number="{{rooms.id}}" class="delete-btn btn btn-outline-danger"> Delete Room &#128465;</button>

        </div>
    </div>
</div>
{{results}}

<script src="/js/room-details.js"></script>