<img class="house" src="/images/paul-weaver-nWidMEQsnAQ-unsplash.jpg" alt="A simple room" />
<div class="card m-2 p-2" id="window-signup">
  <div class="card-header">
    <h2>Sign Up</h2>
  </div>
  <div id="signup" role="tabpanel">
    <form id="signup-form" class="card-body">
      <div class="m-2 p-2">
        <label for="username-input-signup">Username</label>
        <input type="text" id="username-input-signup" />
      </div>
      <div class="m-2 p-2 mb-4">
        <label for="password-input-signup">Password</label>
        <input type="password" id="password-input-signup" />
      </div>
      <button type="submit" id="signup-btn" class="btn m-2 p-2 btn-outline-dark">Sign Up</button>
      <a href="/login">
        <button type="button" class="btn m-2 p-2 btn-outline-dark">Login Instead</button>
      </a>
    </form>
  </div>
</div>

<script src="/js/signup.js"></script>